img {
  max-width: 100%;
}

section.marketing {
  padding-bottom: 60px;
}

nav.bg-custom {
  background-color: #4b2e83; /* Attractive purple */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  max-width: 250px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.marketing .card {
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.marketing .card:hover {
  transform: translateY(-5px);
}

.client-logos {
  list-style: none;
  padding: 0;
  margin: 0;
}

.client-logos li {
  display: inline-block;
  width: 25%;
  margin-right: -5px;
  padding: 10px;
}

.client-logos li img {
  display: block;
  border: 1px solid #eaeaea;
}

.contact-block {
  background-color: #003366;
  color: #000000; /* Change text color to black */
  padding: 30px;
  text-align: center;
}

.showcase .card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  margin-bottom: 15px;
  border-radius: 10px;
}

.showcase .card:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.showcase h3.card-title {
  font-size: 20px;
  color: #4b2e83;
}

footer {
  padding: 10px 0;
  background-color: #003366;
  color: #ffffff;
  text-align: center;
}

footer p {
  margin: 0;
}

.jumbotron {
  background: linear-gradient(to right, #4b2e83, #6a1b9a);
  border-radius: 0;
  color: #ffffff;
  padding: 60px 20px;
}

@media (min-width: 768px) {
  section.marketing {
    margin-top: -50px;
  }

  body.inner-page {
    padding-top: 70px;
  }

  .navbar .container,
  .jumbotron .container {
    max-width: 1270px;
    width: 90%;
  }

  nav.bg-custom {
    height: 70px;
  }

  ul.navbar-nav li.nav-item {
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 55px;
  }

  section.marketing {
    padding-top: 30px;
  }

  .navbar-brand img {
    max-width: 200px;
  }

  .display-3,
  .display-4 {
    font-size: 40px;
  }
}
